.register-container {
    background-image: url("{{asset('imagenes/noticia.webp')}}");
    background-size: cover;
    background-position: center;
    padding: 20px;
    /* Ajusta el padding según sea necesario */
    border-radius: 10px;
    /* Opcional: para bordes redondeados */
}

.login-container {
    background-image: url("{{asset('imagenesMich/login.jpg')}}");
    background-size: cover;
    background-position: center;
    padding: 20px;
    /* Ajusta el padding según sea necesario */
    border-radius: 10px;
    /* Opcional: para bordes redondeados */
}